# ─── Django ───────────────────────────────────────────────────────────────────
DJANGO_SECRET_KEY=
DJANGO_DEBUG=falaw
ALLOWED_HOSTS=localhost,127.0.0.1

# ─── Microsoft Azure App Registration ────────────────────────────────────────
MS_TENANT=common
MS_CLIENT_ID= 
MS_CLIENT_SECRET= 

# ─── URLs ─────────────────────────────────────────────────────────────────────
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

